<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Dashboard | Angel Mess</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/swiper.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"> 
</head>
<body>
	
    <header class="dashboard-header bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h3 class="mb-0">Hey! {{ request.user.first_name }} {{ request.user.last_name }}</h3>
                </div>
                <div class="col-auto">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
    </header>
    <main class="site">
        <div class="page-content">
            <div class="container bb py-3">
                <ul class="link-list">
                    <li><a href="{% url 'dashboard' %}"><i class="fa-sharp fa-light fa-grid-horizontal"></i> Dashboard</a></li>
                    <li><a href="{% url 'add-mill' %}"><i class="fa-light fa-pot-food"></i>Add Meal</a></li>
                    <li><a href="{% url 'add-establish' %}"><i class="fa-light fa-garlic"></i>Add Expenditure</a></li>
                    {% comment %} <li><a href="{% url 'bill' %}"><i class="fa-sharp fa-thin fa-money-bill"></i>Bill</a></li> {% endcomment %}
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'mills' %}"><i class="fa-regular fa-utensils"></i>Mills</a></li>
                        <li><a href="{% url 'register' %}"><i class="fa-regular fa-user-plus"></i>Register User</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="dashboard-cont py-3">
                <div class="container">
                    <div class="row mb-4 g-2">
                        <div class="col-4">
                            <div class="dash-box text-center bg-primary">
                                <div class="icon"><i class="fa-solid fa-fork-knife"></i></div>
                                <h3>{{ total_mill }}</h3>
                                <span class="small">Meal</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dash-box text-center bg-orange">
                                <div class="icon"><i class="fa-sharp fa-solid fa-wallet"></i></div>
                                <h3>₹ {{ diposit }}</h3>
                                <span class="small">Diposit</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dash-box text-center bg-purple">
                                <div class="icon"><i class="fa-sharp fa-solid fa-bag-shopping"></i></div>
                                <h3>{{ bazar_count }}</h3>
                                <span class="small">Bazar</span>
                            </div>
                        </div>
                        {% comment %} <div class="col-12">
                            <div class="bill-home">
                                {% if prev_bill.status == True %}                            
                                    <img src="/static/images/paid.png" alt="">
                                {% else %}
                                    <img src="/static/images/due.png" alt="">
                                {% endif %}
                                
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <p class="mb-1">01/12/2023</p>
                                        <p class="mb-1">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                                        {% if prev_bill.status == True %}                            
                                            <p class="mb-1 text-success">Paid</p>
                                        {% else %}
                                            <p class="mb-1 text-danger">Due</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-1 text-end"><strong>₹ {{due}}</strong></p>
                                        <p class="mb-1 text-end">Due Date</p>
                                        <p class="mb-1 text-end">05/12/2023</p>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>

                    <div class="row">
                        {% if diposits %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Your diposits</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                    </tr>                                                
                                                    {% for diposit in diposits %}
                                                        <tr>
                                                            <td>{{ diposit.date }}</td>
                                                            <td>₹ {{ diposit.amount }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>₹ {{ diposit }}</th>
                                                    </tr>                                                
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="dashboard-foot p-3 bg-light">
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>
    </footer>
    
	<script src="/static/js/bootstrap.bundle.js"></script>
	<script src="/static/js/swiper.js"></script>
	<script src="/static/js/script.js"></script>
</body>

</html>