{% extends "base.html" %}
{% block 'title' %}Home | Mess Management System {% endblock 'title' %}


{% block 'content' %}
    <div class="home-banner center">
        <div class="container">
            <h6>Welcome To</h6>
            <h1>Angel Mess</h1>
            <p>A home away from home</p>
        </div>
    </div>

    <div class="our-team pad">
        <div class="container">
            <h6 class="header-before">Family</h6>
            <h2 class="text-center">Our Members</h2>
            <div class="swiper team-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide team-box text-center">
                        <div class="img-con">

                        </div>
                        <h5>Rupam Dhara</h5>
                        <span>Software Developer</span>
                    </div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
                <div class="team-arrow">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact pad">
        <div class="container">
            <h6 class="header-before">Get In Touch</h6>
            <h2 class="text-center">Contact Us</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="contact-box">
                        <i class="fa-solid fa-mobile"></i>
                        <h3>Call Us</h3>
                        <a href="#">+91 6295828230</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-box">
                        <i class="fa-solid fa-envelope"></i>
                        <h3>Email Us</h3>
                        <a href="#">contact@angelmess.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.127324517076!2d88.40832517508487!3d22.461849137020852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f8.1!3m3!1m2!1s0x3a0273d7a22f9bf1%3A0x21a73065a7fac00!2sDraupadi%20Nivas!5e0!3m2!1sen!2sin!4v1702635844967!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

{% endblock 'content' %}