{% extends 'mess/mess-base.html' %}
{% block 'title' %}Add Mill | Angel Mess{% endblock 'title' %}

{% block 'content' %}
    
    <div class="container-fluid bb py-1">
        <a href="{% url 'dashboard' %}" class="back-btn"><i class="fa-light fa-arrow-left-long"></i> Go to Dashboard</a>
    </div>

    <div class="container dashboard-cont py-3">
        <h4>Add Your Bazar</h4>
        <form method="post">
            {% csrf_token %}
            {% comment %} <label>Date:</label> {% endcomment %}
            <div class="add-box">
                <input type="text" name="date" id="add-mill" class="form-control mb-3" placeholder="yyyy/mm/dd" required>
                <i class="fa-sharp fa-solid fa-calendar-days"></i>
            </div>
            <select name="details" class="form-control mb-3" required>
                <option value="">-- Select Reasone --</option>
                <option value="O">Oil</option>
                <option value="V">Ginger & Garlic</option>
                <option value="C">Green Chilli</option>
                <option value="G">Gas</option>
                <option value="O">O</option>
            </select>

            <input type="text" name="amount" class="form-control mb-4" placeholder="Amount" required>

            <div class="text-center">
                <button type="submit" class="btn btn-dark">ADD ESTABLISH</button>
            </div>
        </form>
    </div>    


    <script>
        $(document).ready(function () {
            //var disabledDates = [
            //    {% for mill in mills %}
            //        "{{mill.date|date:'Y-m-d'}}",
            //    {% endfor %}
            //];
            $("#add-mill").datepicker({
                dateFormat: 'yy-mm-dd',
                minDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0),
                //beforeShowDay: function(date) {
                //var stringDate = $.datepicker.formatDate("yy-mm-dd", date);
                //    return [disabledDates.indexOf(stringDate) === -1];
                //}
            });
        });
    </script>
{% endblock 'content' %}
