{% extends 'mess/mess-base.html' %}
{% block 'title' %}Mills | Angel Mess{% endblock 'title' %}

{% block 'content' %}
    
    <div class="container-fluid bb py-1">
        <a href="{% url 'dashboard' %}" class="back-btn"><i class="fa-light fa-arrow-left-long"></i> Go to Dashboard</a>
    </div>

    <div class="container dashboard-cont py-3">
        <h4>Mills For This Month</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for user in users %}
                            <th>{{ user.first_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for mill in mills %}
                        <tr>
                            <td>{{ mill.date|date:'d-m' }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    


    
{% endblock 'content' %}
